.dark{
font-weight:bold;
color:black;

}
p{
    color:gray;
    font-size:15px;
}
body{
    background-color: gainsboro;
    margin-left:40px;
    margin-right:20px;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration:none;
}
.footer{
height:200px;
margin-top:80px;


}
.copy{
width:580px;
font-size:13px;
color:black;

}

.header{
height:100px;
width:100%;
position:fixed;
margin-top:-100px;
background-color: gainsboro;
display:inline-flex;

}
.mainlogo{
margin-top:10px;


}
.tv{
    display:inline-flex;
    padding:10px;
    color:grey;
}
.movies{
    display:inline-flex;
    padding:10px;
    color:grey;
}
.sports{
    display:inline-flex;
    padding:10px;
    color:grey;
}
.news{
    display:inline-flex;
    padding:10px;
    color:grey;
}
.pre{
    display:inline-flex;
    padding:10px;
    color:grey;
}
.new{
    display:inline-flex;
    padding:10px;
    color:grey;
}


.content{
margin-top:100px;

}
.abt{
color:gray;
font-size:15px;


}
.abt:hover{
    color:blue;
}



.fbimg{
border-radius: 5px;

margin-left:700px;

}
.twitimg{
    margin-top:-50px;
    border-radius: 5px;
    margin-left:770px;
    
    }

.fb{
margin-top:-10px;
    
    }
.connect{
    margin-left:710px;
        margin-top:-90px;
        font-size:15px;
        color:gray;

 }
 .googleimg{
    margin-top:-50px;
    border-radius: 5px;
    margin-left:980px;


 }
 .appleimg{
    margin-top:-50px;
    border-radius: 5px;
    margin-left:1150px;


 }
 .connect2{
    margin-top:-85px;
    font-size:15px;
    margin-left:1000px;
    color:gray;

 }
 .google{
    margin-top:60px;
        
        }